---
layout: base
---

<div class="site-intro">
  <p>This site is a collection of notes and quick thoughts that have been bouncing around in my mind. I write longer posts
    over
    <a href="https://www.fershad.com/writing/">on my blog</a>.</p>
</div>
<div class="posts-list">
  {% include "home.njk" %}
  {{ content | safe }}
</div>
