---
layout: base
---

<div class="site-intro">
  <h1>Monthly posts</h1>
  <p>A collection of monthly review posts.</p>
</div>
<div class="posts-list">
  {% include "monthlys.njk" %}
  {{ content | safe }}
</div>
